@model UniversityCourseResultManagementSystem.Models.Department

@{
    ViewBag.Title = "Save";
}

<h2 class="header">Save</h2>
@using (Ajax.BeginForm("Save", "Department", new AjaxOptions() { HttpMethod = "POST", OnBegin = "ClearNotificationMessage" }, new { enctype = "multipart/form-data", id = "registerStudentForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Code,new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @placeholder = "Department Code", @id = "Code", @name = "Code"})
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new{ @class = "form-control", @placeholder = "Department Name", @id = "Name", @name = "Name" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>

        <div class="form-group" id="message">
            <div class="col-md-offset-2 col-md-10" style="color: GREEN">
                <label>@ViewBag.Message</label>
            </div>
        </div>
    </div>
}
<div class="text-center">
    @Html.ActionLink("Back to View All Departments", "DepartmentViewAll")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Code').val("");
            $('#Name').val("");
            $('#message').delay(10000).fadeOut();
        });
    </script>
}

